# Database
DB_NAME=sleepr
DB_USERNAME=root
DB_PASSWORD=root
DB_ROOT_PASSWORD=root
DB_HOST=sleepr-db

## Apps PORT
AUTH_PORT=3001
RESERVATIONS_PORT=3001

## JWT
JWT_ACCESS_SECRET=173734ae7224929be3360110006e6d006b92e6d834308b5c2431b823fa458d22
JWT_SECRET_EXPIRES_IN=1d

## BCRYPT
BCRYPT_SALT_ROUNDS=10
